body{
    font-family: arial;
}

h1 img{
    height: 65px;
    vertical-align: middle;
    line-height: 70px;
}

h1{
    vertical-align: middle;
    line-height: 70px;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    font-size: 40px;
}

table img{
    height: 60px;
}
h3{
    padding: 20px;
}

td a{
    margin: 0 0 !important;
}

td a:before{
    content: "";
    margin: 0;
}

body a{
    color: black;
    text-decoration: none;
    display: block;
    margin: 20px 0;
}

a:before{
    content: "\21E6 ";
    margin-right: 20px;
}



a:hover{
    text-decoration: underline;
}

th{
    font-size: 20px;
    background-color: #000;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

tr  td{
    height: 110px;
    text-align: center;
}

tr:hover td{
    background-color: rgb(245, 244, 244);
}
tr:hover td img{
    height: 100px;
}

.text-left{
    text-align: left;
}

td:nth-child(4){
    background-color: rgb(194, 22, 22);
    color: white;
    font-size: 22px;
}

tr:hover td:nth-child(4){
    background-color: rgb(153, 26, 26);
    color: white;
    font-size: 22px;
}